## Ignore Visual Studio temporary files, build results, and user-specific files

# Build folders
bin/
obj/

# Visual Studio cache/options
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Build results
*.dll
*.exe
*.pdb

# Publish output
publish/
wwwroot/

# Rider / JetBrains
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Entity Framework Migrations
Migrations/

# Coverage and test results
*.coverage
*.coveragexml
TestResults/

# Resharper
_ReSharper*/
*.DotSettings.user

# Other
*.dbmdl
*.bak
*.swp